<div class="row">

    <div class="-index-bg carousel fade-carousel slide" id="bs-carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <div>
                        <h2>У нас есть то что вам нужно.</h2>
                        <h3>Шторы которые закроют ваш уютный мир.</h3>
                    </div>
                    <button class="btn btn-hero btn-lg" role="button">ХОЧУ!!!</button>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

</div>
